In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
movies_credits = pd.read_csv('D:\Movies_dataset\credits.csv')
movies_keywords = pd.read_csv('D:\Movies_dataset\keywords.csv')
movies_links = pd.read_csv('D:\Movies_dataset\links.csv')
movies_metadata = pd.read_csv('D:\Movies_dataset\movies_metadata.csv')
movies_ratings = pd.read_csv(r'D:\Movies_dataset\ratings.csv')

D:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
movies_credits.head(10)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
5,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",949
6,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",11860
7,"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",45325
8,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...",9091
9,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",710

In [4]:
movies_keywords.head(10)

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
5    949  [{'id': 642, 'name': 'robbery'}, {'id': 703, '...
6  11860  [{'id': 90, 'name': 'paris'}, {'id': 380, 'nam...
7  45325                                                 []
8   9091  [{'id': 949, 'name': 'terrorist'}, {'id': 1562...
9    710  [{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...

In [5]:
movies_links.head(10)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0

In [6]:
#movies_metadata.drop(19730 , inplace =True)
#movies_metadata['id'] = movies_metadata['id'].astype(int)
movies_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [7]:
movies_ratings.head(10)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556
5       1     1968     4.0  1425942148
6       1     2762     4.5  1425941300
7       1     2918     5.0  1425941593
8       1     2959     4.0  1425941601
9       1     4226     4.0  1425942228

In [8]:
#movies_links.fillna(value =-1)
#movies_links.fillna(-1 ,inplace =True)
#movies_links['tmdbId'] = movies_links['tmdbId'].astype(int)
#movies_links

In [9]:
df1 = movies_keywords.merge(movies_credits , on = 'id' , how = 'outer')

In [10]:
df1.head(10)

,id,keywords,cast,crew
0,862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
5,949,"[{'id': 642, 'name': 'robbery'}, {'id': 703, '...","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de..."
6,11860,"[{'id': 90, 'name': 'paris'}, {'id': 380, 'nam...","[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de..."
7,45325,[],"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de..."
8,9091,"[{'id': 949, 'name': 'terrorist'}, {'id': 1562...","[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de..."
9,710,"[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...","[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de..."

In [11]:
df2 = df1.merge(movies_links ,left_on = 'id' ,right_on = 'tmdbId' , how ='outer')

In [12]:
df2.head(20)

,id,keywords,cast,crew,movieId,imdbId,tmdbId
0,862.0,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",1,114709,862.0
1,8844.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",2,113497,8844.0
2,15602.0,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",3,113228,15602.0
3,31357.0,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",4,114885,31357.0
4,11862.0,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",5,113041,11862.0
5,949.0,"[{'id': 642, 'name': 'robbery'}, {'id': 703, '...","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",6,113277,949.0
6,11860.0,"[{'id': 90, 'name': 'paris'}, {'id': 380, 'nam...","[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",7,114319,11860.0
7,45325.0,[],"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",8,112302,45325.0
8,9091.0,"[{'id': 949, 'name': 'terrorist'}, {'id': 1562...","[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...",9,114576,9091.0
9,710.0,"[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...","[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",10,113189,710.0
10,9087.0,"[{'id': 833, 'name': 'white house'}, {'id': 84...","[{'cast_id': 1, 'character': 'Andrew Shepherd'...","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de...",11,112346,9087.0
11,12110.0,"[{'id': 3633, 'name': 'dracula'}, {'id': 11931...","[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...",12,112896,12110.0
12,21032.0,"[{'id': 1994, 'name': 'wolf'}, {'id': 6411, 'n...","[{'cast_id': 1, 'character': 'Balto (voice)', ...","[{'credit_id': '593f24b9c3a3680369002371', 'de...",13,112453,21032.0
13,10858.0,"[{'id': 840, 'name': 'usa president'}, {'id': ...","[{'cast_id': 1, 'character': 'Richard Nixon', ...","[{'credit_id': '52fe43c59251416c7501d6f3', 'de...",14,113987,10858.0
14,1408.0,"[{'id': 911, 'name': 'exotic island'}, {'id': ...","[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",15,112760,1408.0
15,524.0,"[{'id': 383, 'name': 'poker'}, {'id': 726, 'na...","[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...",16,112641,524.0
16,4584.0,"[{'id': 420, 'name': 'bowling'}, {'id': 818, '...","[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de...",17,114388,4584.0
17,5.0,"[{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...","[{'cast_id': 42, 'character': 'Ted the Bellhop...","[{'credit_id': '52fe420dc3a36847f800011b', 'de...",18,113101,5.0
18,9273.0,"[{'id': 409, 'name': 'africa'}, {'id': 1551, '...","[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...",19,112281,9273.0
19,11517.0,"[{'id': 380, 'name': 'brother brother relation...","[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de...",20,113845,11517.0

In [13]:
movies_metadata['imdb_id'] = movies_metadata['imdb_id'].str.replace('tt','' ,regex =True)
movies_metadata=  movies_metadata.dropna(subset = ['imdb_id'])
movies_metadata['imdb_id'] = movies_metadata['imdb_id'].astype(int)
#df3 = df2.merge(movies_metadata ,on = 'id' ,how = 'outer')

In [14]:
df3 = df2.merge(movies_metadata ,left_on = 'imdbId' , right_on = 'imdb_id',how = 'outer')

In [15]:
df3.head(10)

,id_x,keywords,cast,crew,movieId,imdbId,tmdbId,adult,belongs_to_collection,budget,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,862.0,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",1.0,114709.0,862.0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,8844.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",2.0,113497.0,8844.0,False,NaN,65000000,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,15602.0,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",3.0,113228.0,15602.0,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,31357.0,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",4.0,114885.0,31357.0,False,NaN,16000000,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,11862.0,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",5.0,113041.0,11862.0,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,949.0,"[{'id': 642, 'name': 'robbery'}, {'id': 703, '...","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",6.0,113277.0,949.0,False,NaN,60000000,...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
6,11860.0,"[{'id': 90, 'name': 'paris'}, {'id': 380, 'nam...","[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",7.0,114319.0,11860.0,False,NaN,58000000,...,1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,45325.0,[],"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",8.0,112302.0,45325.0,False,NaN,0,...,1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
8,9091.0,"[{'id': 949, 'name': 'terrorist'}, {'id': 1562...","[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...",9.0,114576.0,9091.0,False,NaN,35000000,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
9,710.0,"[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...","[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",10.0,113189.0,710.0,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0

In [16]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47207 entries, 0 to 47206
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_x                   46760 non-null  float64
 1   keywords               46760 non-null  object
 2   cast                   46760 non-null  object
 3   crew                   46760 non-null  object
 4   movieId                47141 non-null  float64
 5   imdbId                 47141 non-null  float64
 6   tmdbId                 46922 non-null  float64
 7   adult                  46614 non-null  object
 8   belongs_to_collection  4575 non-null   object
 9   budget                 46614 non-null  object
 10  genres                 46614 non-null  object
 11  homepage               8011 non-null   object
 12  id_y                   46614 non-null  object
 13  imdb_id                46614 non-null  float64
 14  original_language      46603 non-null  object
 15  original_title         46614 non-null  object
 16  overview               45621 non-null  object
 17  popularity             46608 non-null  object
 18  poster_path            46220 non-null  object
 19  production_companies   46610 non-null  object
 20  production_countries   46610 non-null  object
 21  release_date           46529 non-null  object
 22  revenue                46607 non-null  float64
 23  runtime                46345 non-null  float64
 24  spoken_languages       46607 non-null  object
 25  status                 46525 non-null  object
 26  tagline                20779 non-null  object
 27  title                  46607 non-null  object
 28  video                  46607 non-null  object
 29  vote_average           46607 non-null  float64
 30  vote_count             46607 non-null  float64
dtypes: float64(9), object(22)
memory usage: 11.5+ MB

In [17]:
dataset_cleaned = df3.drop(['id_x','homepage','budget','cast' ,'crew' ,'imdb_id','tmdbId','adult','original_language','production_companies','production_countries','release_date','revenue','runtime','status','tagline','video','poster_path','keywords'],axis ='columns')

In [18]:
dataset_cleaned.head()

,movieId,imdbId,belongs_to_collection,genres,id_y,original_title,overview,popularity,spoken_languages,title,vote_average,vote_count
0,1.0,114709.0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0
1,2.0,113497.0,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0
2,3.0,113228.0,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,6.5,92.0
3,4.0,114885.0,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1,34.0
4,5.0,113041.0,"{'id': 96871, 'name': 'Father of the Bride Col...","[{'id': 35, 'name': 'Comedy'}]",11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5.7,173.0

In [19]:
dataset_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47207 entries, 0 to 47206
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   movieId                47141 non-null  float64
 1   imdbId                 47141 non-null  float64
 2   belongs_to_collection  4575 non-null   object
 3   genres                 46614 non-null  object
 4   id_y                   46614 non-null  object
 5   original_title         46614 non-null  object
 6   overview               45621 non-null  object
 7   popularity             46608 non-null  object
 8   spoken_languages       46607 non-null  object
 9   title                  46607 non-null  object
 10  vote_average           46607 non-null  float64
 11  vote_count             46607 non-null  float64
dtypes: float64(4), object(8)
memory usage: 4.7+ MB

In [20]:
dataset_cleaned.dropna(subset= ['movieId','imdbId','id_y','original_title','title','vote_average','vote_count','overview'] , inplace = True)

In [21]:
dataset_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45553 entries, 0 to 47130
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   movieId                45553 non-null  float64
 1   imdbId                 45553 non-null  float64
 2   belongs_to_collection  4508 non-null   object
 3   genres                 45553 non-null  object
 4   id_y                   45553 non-null  object
 5   original_title         45553 non-null  object
 6   overview               45553 non-null  object
 7   popularity             45553 non-null  object
 8   spoken_languages       45553 non-null  object
 9   title                  45553 non-null  object
 10  vote_average           45553 non-null  float64
 11  vote_count             45553 non-null  float64
dtypes: float64(4), object(8)
memory usage: 4.5+ MB

In [22]:
dataset_cleaned.fillna(-1, inplace =True)

In [23]:
dataset_cleaned.vote_count.describe()

count    45553.000000
mean       110.501174
std        491.861263
min          0.000000
25%          3.000000
50%         10.000000
75%         35.000000
max      14075.000000
Name: vote_count, dtype: float64

In [24]:
dataset_cleaned.vote_average.describe()

count    45553.000000
mean         5.633491
std          1.902376
min          0.000000
25%          5.000000
50%          6.000000
75%          6.800000
max         10.000000
Name: vote_average, dtype: float64

In [25]:
dataset_cleaned.head()

,movieId,imdbId,belongs_to_collection,genres,id_y,original_title,overview,popularity,spoken_languages,title,vote_average,vote_count
0,1.0,114709.0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0
1,2.0,113497.0,-1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0
2,3.0,113228.0,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,6.5,92.0
3,4.0,114885.0,-1,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1,34.0
4,5.0,113041.0,"{'id': 96871, 'name': 'Father of the Bride Col...","[{'id': 35, 'name': 'Comedy'}]",11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5.7,173.0

In [26]:
dataset_cleaned['genres_0'] = [[y['name'] for y in eval(x)] for x in dataset_cleaned['genres']]

In [27]:
dataset_cleaned['genres_0']

0         [Animation, Comedy, Family]
1        [Adventure, Fantasy, Family]
2                   [Romance, Comedy]
3            [Comedy, Drama, Romance]
4                            [Comedy]
                     ...
46756                         [Drama]
46757       [Action, Drama, Thriller]
46758                              []
46759                              []
47130                              []
Name: genres_0, Length: 45553, dtype: object

# Raw_vote_average

In [28]:
#calculate weighted average
v = dataset_cleaned['vote_count']
R = dataset_cleaned['vote_average']
C = dataset_cleaned['vote_average'].mean()
m = dataset_cleaned['vote_count'].quantile(0.75)

In [29]:
dataset_cleaned['weighted_average'] = ((R*v)+(C*m))/(v+m)
dataset_cleaned.head()

,movieId,imdbId,belongs_to_collection,genres,id_y,original_title,overview,popularity,spoken_languages,title,vote_average,vote_count,genres_0,weighted_average
0,1.0,114709.0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0,"[Animation, Comedy, Family]",7.686729
1,2.0,113497.0,-1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0,"[Adventure, Fantasy, Family]",6.881892
2,3.0,113228.0,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,6.5,92.0,"[Romance, Comedy]",6.261198
3,4.0,114885.0,-1,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1,34.0,"[Comedy, Drama, Romance]",5.863365
4,5.0,113041.0,"{'id': 96871, 'name': 'Father of the Bride Col...","[{'id': 35, 'name': 'Comedy'}]",11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5.7,173.0,[Comedy],5.688809

In [30]:
dataset_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45553 entries, 0 to 47130
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   movieId                45553 non-null  float64
 1   imdbId                 45553 non-null  float64
 2   belongs_to_collection  45553 non-null  object
 3   genres                 45553 non-null  object
 4   id_y                   45553 non-null  object
 5   original_title         45553 non-null  object
 6   overview               45553 non-null  object
 7   popularity             45553 non-null  object
 8   spoken_languages       45553 non-null  object
 9   title                  45553 non-null  object
 10  vote_average           45553 non-null  float64
 11  vote_count             45553 non-null  float64
 12  genres_0               45553 non-null  object
 13  weighted_average       45553 non-null  float64
dtypes: float64(5), object(9)
memory usage: 5.2+ MB

In [31]:
from sklearn.preprocessing import MinMaxScaler
dataset_cleaned['popularity'] = MinMaxScaler().fit_transform(dataset_cleaned[['popularity']])
dataset_cleaned

,movieId,imdbId,belongs_to_collection,genres,id_y,original_title,overview,popularity,spoken_languages,title,vote_average,vote_count,genres_0,weighted_average
0,1.0,114709.0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",0.040087,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0,"[Animation, Comedy, Family]",7.686729
1,2.0,113497.0,-1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,Jumanji,When siblings Judy and Peter discover an encha...,0.031079,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0,"[Adventure, Fantasy, Family]",6.881892
2,3.0,113228.0,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,0.021394,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,6.5,92.0,"[Romance, Comedy]",6.261198
3,4.0,114885.0,-1,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",0.007049,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1,34.0,"[Comedy, Drama, Romance]",5.863365
4,5.0,113041.0,"{'id': 96871, 'name': 'Father of the Bride Col...","[{'id': 35, 'name': 'Comedy'}]",11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,0.015320,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5.7,173.0,[Comedy],5.688809
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46756,176271.0,2028550.0,-1,"[{'id': 18, 'name': 'Drama'}]",111109,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.000326,"[{'iso_639_1': 'tl', 'name': ''}]",Century of Birthing,9.0,3.0,[Drama],5.899268
46757,176273.0,303758.0,-1,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,Betrayal,"When one of her hits goes wrong, a professiona...",0.001649,"[{'iso_639_1': 'en', 'name': 'English'}]",Betrayal,3.8,6.0,"[Action, Drama, Thriller]",5.365175
46758,176275.0,8536.0,-1,[],227506,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.000006,[],Satan Triumphant,0.0,0.0,[],5.633491
46759,176279.0,6980792.0,-1,[],461257,Queerama,50 years after decriminalisation of homosexual...,0.000298,"[{'iso_639_1': 'en', 'name': 'English'}]",Queerama,0.0,0.0,[],5.633491
47130,169932.0,3291632.0,-1,[],401840,School's out,Two high school kids mentored by a nightclub o...,0.000380,[],School's out,0.0,0.0,[],5.633491

In [32]:
dataset_cleaned['popularity'] = dataset_cleaned['popularity']*10
dataset_cleaned['final_weighted_average'] = (dataset_cleaned['popularity'] + dataset_cleaned['weighted_average'])/2

In [33]:
dataset_cleaned.sort_values(['final_weighted_average'] ,ascending =False,inplace =True)

In [34]:
dataset_cleaned[:10]

,movieId,imdbId,belongs_to_collection,genres,id_y,original_title,overview,popularity,spoken_languages,title,vote_average,vote_count,genres_0,weighted_average,final_weighted_average
31038,135887.0,2293640.0,"{'id': 86066, 'name': 'Despicable Me Collectio...","[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",211672,Minions,"Minions Stuart, Kevin and Bob are recruited by...",10.000000,"[{'iso_639_1': 'en', 'name': 'English'}]",Minions,6.4,4729.0,"[Family, Animation, Adventure, Comedy]",6.394369,8.197184
33705,143355.0,451279.0,"{'id': 468552, 'name': 'Wonder Woman Collectio...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",297762,Wonder Woman,An Amazon princess comes to the world of Man t...,5.376134,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Wonder Woman,7.2,5025.0,"[Action, Adventure, Fantasy]",7.189164,6.282649
43520,168366.0,2771200.0,-1,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",321612,Beauty and the Beast,A live-action adaptation of Disney's version o...,5.246754,"[{'iso_639_1': 'en', 'name': 'English'}]",Beauty and the Beast,6.8,5530.0,"[Family, Fantasy, Romance]",6.792663,6.019709
24785,115617.0,2245084.0,-1,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",177572,Big Hero 6,The special bond that develops between plus-si...,3.906018,"[{'iso_639_1': 'en', 'name': 'English'}]",Big Hero 6,7.8,6289.0,"[Adventure, Family, Animation, Action, Comedy]",7.788010,5.847014
44941,171763.0,3890160.0,-1,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",339403,Baby Driver,After being coerced into working for a crime b...,4.165071,"[{'iso_639_1': 'en', 'name': 'English'}]",Baby Driver,7.2,2083.0,"[Action, Crime]",7.174113,5.669592
26909,122918.0,3896198.0,"{'id': 284433, 'name': 'Guardians of the Galax...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,The Guardians must fight to keep their newfoun...,3.385113,"[{'iso_639_1': 'en', 'name': 'English'}]",Guardians of the Galaxy Vol. 2,7.6,4858.0,"[Action, Adventure, Comedy, Science Fiction]",7.585933,5.485523
292,296.0,110912.0,-1,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",2.574489,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Pulp Fiction,8.3,8670.0,"[Thriller, Crime]",8.289279,5.431884
26907,122904.0,1431045.0,"{'id': 448150, 'name': 'Deadpool Collection', ...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",293660,Deadpool,Deadpool tells the origin story of former Spec...,3.431315,"[{'iso_639_1': 'en', 'name': 'English'}]",Deadpool,7.4,11444.0,"[Action, Adventure, Comedy]",7.394614,5.412965
23994,112556.0,2267998.0,-1,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",210577,Gone Girl,With his wife's disappearance having become th...,2.827476,"[{'iso_639_1': 'en', 'name': 'English'}]",Gone Girl,7.9,6023.0,"[Mystery, Thriller, Drama]",7.886905,5.357191
14827,72998.0,499549.0,"{'id': 87096, 'name': 'Avatar Collection', 'po...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",3.380363,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Avatar,7.2,12114.0,"[Action, Adventure, Fantasy, Science Fiction]",7.195487,5.287925

In [35]:
%matplotlib notebook
plt.figure(figsize = (15,10))
plt.barh(dataset_cleaned[:10]['title'] , dataset_cleaned[:10]['final_weighted_average'] )

In [36]:
plt.savefig('D:\Movies_dataset\weighted_vote_average')

# Correlation_similarity

In [37]:
movies_ratings.head(10)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556
5       1     1968     4.0  1425942148
6       1     2762     4.5  1425941300
7       1     2918     5.0  1425941593
8       1     2959     4.0  1425941601
9       1     4226     4.0  1425942228

In [38]:
movies_links.head(10)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0

In [39]:
movieId_imdbId_ratings = movies_ratings.merge(movies_links[['movieId','imdbId']] , on = 'movieId' ,how='left')

In [40]:
movieId_imdbId_ratings.head(10)

   userId  movieId  rating   timestamp  imdbId
0       1      110     1.0  1425941529  112573
1       1      147     4.5  1425942435  112461
2       1      858     5.0  1425941523   68646
3       1     1221     5.0  1425941546   71562
4       1     1246     5.0  1425941556   97165
5       1     1968     4.0  1425942148   88847
6       1     2762     4.5  1425941300  167404
7       1     2918     5.0  1425941593   91042
8       1     2959     4.0  1425941601  137523
9       1     4226     4.0  1425942228  209144

In [41]:
movieId_imdbId_ratings = movieId_imdbId_ratings.merge(dataset_cleaned[['original_title','imdbId']] , on = 'imdbId' , how='right')

In [42]:
movieId_imdbId_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26002426 entries, 0 to 26002425
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   userId          float64
 1   movieId         float64
 2   rating          float64
 3   timestamp       float64
 4   imdbId          int64
 5   original_title  object
dtypes: float64(4), int64(1), object(1)
memory usage: 1.4+ GB

In [43]:
movie_pivot = movieId_imdbId_ratings[:5002426].pivot_table(index= 'userId' , columns = 'original_title' ,values ='rating')

In [44]:
movie_pivot.head(10)

original_title,12 Angry Men,12 Years a Slave,2001: A Space Odyssey,3 Idiots,8½,A Beautiful Mind,A Clockwork Orange,About Time,Alien,Aliens,...,東京物語,火垂るの墓,生きる,用心棒,羅生門,聲の形,부산행,살인의 추억,아가씨,올드보이
userId,,,,,,,,,,,,,,,,,,,,,
1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
movieId_imdbId_ratings.head()

   userId   movieId  rating     timestamp   imdbId original_title
0   420.0  135887.0     5.0  1.459277e+09  2293640        Minions
1   505.0  135887.0     1.5  1.444372e+09  2293640        Minions
2   509.0  135887.0     4.0  1.452555e+09  2293640        Minions
3   559.0  135887.0     4.0  1.499791e+09  2293640        Minions
4   702.0  135887.0     3.0  1.447356e+09  2293640        Minions

In [46]:
ratings_count = movieId_imdbId_ratings[:5002426].groupby('original_title')['rating'].count()

In [47]:
ratings_count.head()

original_title
12 Angry Men             16896
12 Years a Slave          4136
2001: A Space Odyssey    30001
3 Idiots                  1203
8½                        3651
Name: rating, dtype: int64

In [48]:
def correlation(x):
    df = pd.DataFrame(movie_pivot.corrwith(movie_pivot[x]) , columns = ['correlation'])
    df.dropna(inplace =True)
    a = df.join(ratings_count)
    a[a['rating'] >= 1000]
    return a[a['rating'] >= 1000].sort_values('correlation' ,ascending =False)

In [49]:
correlation('Minions')

D:\anaconda\lib\site-packages\numpy\lib\function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
D:\anaconda\lib\site-packages\numpy\lib\function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                         correlation  rating
original_title
Minions                     1.000000    1741
The Maze Runner             0.418303    3637
Me Before You               0.401446    1214
Avengers: Age of Ultron     0.393156    5817
Roman Holiday               0.384802    7244
...                              ...     ...
Short Term 12               0.007139    1130
8½                         -0.000324    3651
No Country for Old Men     -0.006179   16531
Taxi Driver                -0.062282   31391
Persona                    -0.147721    1628

[261 rows x 2 columns]

# Using KNN

In [50]:
movie_features = movieId_imdbId_ratings[:5002426].pivot_table(index= 'original_title' , columns = 'userId' ,values ='rating').fillna(0)

In [51]:
movie_features.head()

userId,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,270887.0,270888.0,270889.0,270890.0,270891.0,270892.0,270893.0,270894.0,270895.0,270896.0
original_title,,,,,,,,,,,,,,,,,,,,,
12 Angry Men,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12 Years a Slave,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2001: A Space Odyssey,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5
3 Idiots,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8½,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
from scipy.sparse import csr_matrix
csr_movie_matrix = csr_matrix(movie_features)

In [53]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(metric = 'cosine')
model.fit(csr_movie_matrix)

NearestNeighbors(metric='cosine')

In [54]:
movie_features.loc['3 Idiots',:]
def knnfunc(x):
    indices = model.kneighbors([movie_features.loc[x,:]] , n_neighbors =100 ,return_distance =False)
    lst = [movie_features.index[x] for x in indices]
    a = pd.DataFrame()
    a['ranked'] = lst[0]
    return a

In [55]:
knnfunc('3 Idiots')

                                     ranked
0                                  3 Idiots
1               Dilwale Dulhania Le Jayenge
2                                 Inception
3                    El secreto de sus ojos
4                            Shutter Island
..                                      ...
95                          The Truman Show
96                           Monsters, Inc.
97                          The Maze Runner
98                                   Snatch
99  Harry Potter and the Chamber of Secrets

[100 rows x 1 columns]

# This function takes the ratio of correlation and knn to be used to get the final recommendation based on correlation and item based collaberative filtering (done by knnfunc())

In [56]:
def final_recommendation(movie_name , cor = 1 , knn = 0) :
    df1 = correlation(movie_name).reset_index().reset_index()
    df2 = knnfunc(movie_name).reset_index()
    df3 = df1.merge(df2 , left_on = 'original_title' ,right_on = 'ranked' , how ='outer').drop(['correlation' ,'rating'] ,axis ='columns')
    df3['index_y'].fillna(len(df3.index) , inplace =True)
    df3['index_x'].fillna(len(df3.index) , inplace =True)
    #df3['original_title'].fillna('' , inplace =True)
    #df3['ranked'].fillna('' , inplace =True)
    #df3['title'] = df3['original_title'] + df3['ranked']
    df3['Rank'] = (df3['index_x']*knn + df3['index_y']*cor)/(knn + cor)
    df3.sort_values('Rank' ,ascending = True , inplace =True)
    df3['title'] = [x[1] if not pd.isna(x[1]) else x[2] for x in df3[['original_title','ranked']].itertuples()]
    return df3[['title' ,'Rank']][1:]

In [61]:
final_recommendation('Harry Potter and the Chamber of Secrets' , cor = 0.5 , knn = 0.5)[:10]

D:\anaconda\lib\site-packages\numpy\lib\function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
D:\anaconda\lib\site-packages\numpy\lib\function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                                                title  Rank
1            Harry Potter and the Philosopher's Stone   1.0
2                 Harry Potter and the Goblet of Fire   2.5
3            Harry Potter and the Prisoner of Azkaban   2.5
4        Harry Potter and the Deathly Hallows: Part 2   7.0
5        Harry Potter and the Deathly Hallows: Part 1   7.0
11  Pirates of the Caribbean: The Curse of the Bla...   7.5
21              The Lord of the Rings: The Two Towers  13.5
22                                     Monsters, Inc.  14.5
25                                       Finding Nemo  15.0
27      The Lord of the Rings: The Return of the King  19.0